@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

font-family: "Azeret Mono",
monospace;

* {
    margin: 0;
    padding: 0;
}

#hero {
    height: 867px;
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    width: 748.5px;
}

#hero .hero-content .image {
    text-align: center;
}

#hero .hero-content .heading {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 36px;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero-content .subtitle {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

#hero .hero-content .btn {
    text-align: center;
}

.button {
    margin-top: 20px;
    border-radius: 8px;
    padding: 21px 24px 21px 24px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 425;

}

/* #why-web-dev {
    height: 1050px;
    margin-top: 50px;
    margin-right: 120px;
    margin-bottom: 66px;
    margin-left: 120px;
    background-size: cover;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 75px 60px 75px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
} */

#why-web-dev {
    border: 2px solid;
    margin-top: 80px;
    margin-right: 120px;
    margin-bottom: 66px;
    margin-left: 120px;
    height: 867px;
    background-size: cover;
    background-position: center;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#why-web-dev .2nd-part {
    /* Frame 12 */
    position: static;
    width: 946px;
    height: 1235px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

#why-web-dev .heads {
    margin: 0 auto;
    text-align: center;
}

#why-web-dev .row-card {
    /* position: static; */
    width: 1258px;
    height: 450px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 64px;
    background-color: bisque;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 20px auto;

}

#why-web-dev .heads .heading {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 43px;
    font-weight: 1000;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}

#why-web-dev .heads .subtitle {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
}